/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

.jumbotron {
  margin: 20px 0 0 0;
}

.header-text {
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}

.border-separator {
  border-bottom: 2px solid goldenrod;
}

a {
  font-size: 16px;
  line-height: 1.6;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

li {
  list-style-type: none;
}
